* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  justify-content: center;
  background-image: url(https://imgur.com/gl3OAA6.jpg); 
}

header {
  border: 20px solid black;
  width: 100%;
}

h1 {
  color: white; 
  font-family: 'Press Start 2P';
  text-align: center; 
  font-size: 80px;
  padding-bottom: 0;
}


#game{
  text-align: center; 
}

#images{
  border: 10px solid black;
  margin: 20px;
  margin-bottom: 10px;
  width: 700px;
  height: 350px;
  margin-top: 10px;
  border-radius: 10px;
}

#qbox{
  margin: auto;
  border: 5px solid black; 
  background-color: white;
  margin-top: 0;
  width: 50%;
  height: 60%; 
  font-weight: bold;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#buttons {
  padding: 20px; 

}

.button {
    border: 3px solid black;
    border-radius: 10px; 
    right: 150px; 
    background-color: #4066E0; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    vertical-align: middle;
  }


.button:hover {  
    background-color: #B9BFFF;
    color: white;
  }

#next-prev{
    padding: 35px; 
  }

.next {
  border: 3px solid black;
  border-radius: 10px; 
  right: 150px; 
  background-color:#4066E0; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  vertical-align: middle;
  float: right;
}

.previous {
  border: 3px solid black;
  border-radius: 10px; 
  right: 150px; 
  background-color: #4066E0; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  vertical-align: middle;
  float: left;
  }

.success {
  background-color: green;
}
.fail {
  background-color:red;
}

.modal {
  background-image: url('https://imgur.com/QzRLflN.jpg');
  background-size: 20em;
  display: flex; 
  justify-content: center;
  align-items: center;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
}

.modal-content {
  background-color: black;
  color: white; 
  text-align: center;
  padding: 20px;
  border: 10px solid black;
  width: 50%;
  font-family: 'Press Start 2P';
  font-size: 35px;
}

p {
  margin: 30px;
}

span{
  color: #FF652F;
}

#start-btn{
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  background-color: #4066E0;
}

#tryagain{
  display: flex; 
  margin: auto;
  margin-top: 10%;
  width: 100%; 
  height: 100%;
  position: fixed; 
   top: 0; 
}

.tryagain-content { 
  background-image: url('https://imgur.com/R4SwUxu.jpg');
  background-size: 100%;
  width: 50%; 
  margin: auto;
  height: 45%; 
  animation-name: flash; 
  border-radius: 50px;
  font-size: 70px;
  font-weight: bold;
  color: red; 
  text-align: center;
  }

#tryagain-btn {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: bold; 
}


#congrats {
  background-image: url('https://imgur.com/9Bw6naJ.jpg');
  background-size: 20em;
  display: flex; 
  justify-content: center;
  align-items: center;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
}

.congrats-content { 
  background-color: black;
  color: white; 
  text-align: center;
  padding: 20px;
  border: 10px solid black;
  width: 60%;
  font-family: 'Press Start 2P';
  font-size: 35px;
  margin: auto;
  margin-top: 150px;
}


#playagain-btn {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: bold; 
}



